{% extends 'base.html.twig' %}

{% block title %}Retrospective{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1 class="h3 mb-3">Retrospective</h1>
        <div id="feedback-table" class="mt-4"></div>
    </div>
{% endblock %}
