{% extends 'base.html.twig' %}

{% block title %}Retrospective{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1 class="h3 mb-3">Retrospective</h1>
        <div id="feedback-table" class="mt-4"></div>
    </div>

    <link href="{{ asset('css/tabulator.min.css') }}" rel="stylesheet">
    <script src="{{ asset('js/tabulator.min.js') }}"></script>


    {% block javascripts %}
        <script src="{{ asset('js/feedback.js') }}"></script>
    {% endblock %}
{% endblock %}
